body {
    background-color: #90BEDE;
    font-family: sans-serif;
    font-weight: 400;
    color: #779CB7;
    margin-top: 30px;
}

.text-center {
    text-align: center;
}


h1 {
    text-align: center;
    font-size: 3rem;
    color: #477998;
}

#choice {
    text-align: center;
    font-size: 1.2rem;
    color: #c7899c;

}


#x,
#o {
    color: #Fe5E5B;
    font-weight: bold;
}

td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;

    font-family: open-sans ,sans-serif;
    font-size: 4rem;
    cursor: pointer;
}

#board {
    display: none;
}


table {
    border-collapse: collapse;
    position: absolute;
    top: 33%;
    left: 39.7%;
}


table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}







.btn {
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: saddlebrown;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
}

.btn:hover {
    color: #333;
    background: #ccc;

}

#game-over {
    width: 500px;
    height: 200px;
    line-height: 200px;
    background: linear-gradient(#f3c76b, #f3746c);
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 34%;
    z-index: 9999;
    display: none;

}

#newgame {
    text-align: center;
    position: absolute;
    top: 68%;
    left: 46%;
    display: none;
}
#score {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 46%;
/*    display: none;*/
}
